@model ode.Models.EditorViewModel
@if (ViewContext.RouteData.Values["action"].ToString() == "Editor")
{
<ul class="nav navbar-nav navbar-left editor-toolbar">
    <li>
        <a id="tb-files" asp-area="" asp-controller="Files" asp-action="Index" asp-route-id="@Model.File.ProjectID" title="Back to Files Index">Files</a>
    </li>
    <li>
        <button type="submit" id="tb-save" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
    </li>
</ul>
}