
div.list-group-item button {
    display: none !important;
}

div.list-group-item:hover button:not(.hidden) {
    display: inline-block !important;
}

.list-group-item h4 {
    height: 2em;
}

.list-group-item p {
    line-height: 2em;
}

.list-group input, 
.modal-body input {
    min-width: 200px;
    max-width: 100% !important;
}

.select2-selection, .select2-results, .select2-container, .select2-dropdown {
    min-width: 100%;
    width: 100%;
}

select.sharing {
    width: 100%;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    border: 1px solid #aaa !important;
}

#editor { 
    position: absolute;
    top: 51px;
    left: 0px;
    bottom: 0px;
    right: 50%;
    width: 50%;
}

#preview {
    position: absolute;
    top: 51px;
    left: 50%;
    bottom: 0px;
    right: 0px;
    width: 50%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 0.5em 0 1em;
}


/* ... */

.navbar-inverse {
    background-color: #158cba;
    border-color: #127ba3;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .btn-link:hover,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .btn-link,
.navbar-inverse .navbar-nav>.open>a {
    color: #fff;
    text-decoration: none;
}
