
div.list-group-item button {
    display: none !important;
}

div.list-group-item:hover button:not(.hidden) {
    display: inline-block !important;
}

.list-group-item h4 {
    height: 1.5em;
}

.list-group-item p {
    line-height: 1.7em;
}

.select2-selection, .select2-results, .select2-container, .select2-dropdown {
    min-width: 100%;
    width: 100%;
}

select.sharing {
    width: 100%;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    border: 1px solid #aaa !important;
}