
div.list-group-item button {
    display: none !important;
}

div.list-group-item:hover button:not(.hidden) {
    display: inline-block !important;
}

.list-group-item h4 {
    height: 1.5em;
}

.list-group-item p {
    line-height: 1.7em;
}

.select2-selection, .select2-results, .select2-container, .select2-dropdown {
    min-width: 100%;
    width: 100%;
}

select.sharing {
    width: 100%;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    border: 1px solid #aaa !important;
}

#editor { 
    position: absolute;
    top: 51px;
    left: 0px;
    bottom: 0px;
    right: 50%;
    width: 50%;
}

#preview {
    position: absolute;
    top: 51px;
    left: 50%;
    bottom: 0px;
    right: 0px;
    width: 50%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 0.5em 0 1em;
}