@model ode.Models.EditorViewModel

<pre style="white-space: pre-line">
@Html.Raw(Json.Serialize(Model))
</pre>

<div id="editor">@Html.Raw(Model.FileRevision.Contents)</div>
<div id="preview"></div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-markdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/snippets/markdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>
    <script>
        $(document).ready(function () {
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/xcode");
            editor.getSession().setMode("ace/mode/markdown");

            var converter = new showdown.Converter();

            editor.getSession().on('change', function () {
                var source = editor.getSession().getValue();
                var html = converter.makeHtml(source);
                $('#preview').html(html);
            });

            $('#preview').html(converter.makeHtml(editor.getSession().getValue()));

            $('#tb-files,#tb-projects').on('click', function (e) {
                if (!confirm("Unsaved changes might be lost.\n\nAre your sure you want to leave the editor?")) {
                    e.preventDefault();
                } 
            });
            $('#tb-save').on('click', function () {
                // TODO SAVE
            });

        });
    </script>
}